@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ocdi8d');
  src:  url('fonts/icomoon.eot?ocdi8d#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ocdi8d') format('truetype'),
    url('fonts/icomoon.woff?ocdi8d') format('woff'),
    url('fonts/icomoon.svg?ocdi8d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e90f";
}
.icon-close:before {
  content: "\e910";
}
.icon-arrow-right-in:before {
  content: "\e900";
}
.icon-arrow-left-in:before {
  content: "\e905";
}
.icon-pinterest:before {
  content: "\e906";
}
.icon-linkedin:before {
  content: "\e907";
}
.icon-comment:before {
  content: "\e908";
}
.icon-instagram:before {
  content: "\e909";
}
.icon-replay:before {
  content: "\e90a";
}
.icon-quote:before {
  content: "\e90b";
}
.icon-twitter:before {
  content: "\e90c";
}
.icon-facebook:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e90e";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-up:before {
  content: "\e903";
}
.icon-arrow-down:before {
  content: "\e904";
}
