@font-face {
	font-family: 'Spartan';
	src: url('fonts/SpartanThin.eot');
	src: url('fonts/SpartanThin.eot') format('embedded-opentype'),
		 url('fonts/SpartanThin.woff2') format('woff2'),
		 url('fonts/SpartanThin.woff') format('woff'),
		 url('fonts/SpartanThin.ttf') format('truetype'),
		 url('fonts/SpartanThin.svg#SpartanThin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Spartan';
	src: url('fonts/SpartanExtraLight.eot');
	src: url('fonts/SpartanExtraLight.eot') format('embedded-opentype'),
		 url('fonts/SpartanExtraLight.woff2') format('woff2'),
		 url('fonts/SpartanExtraLight.woff') format('woff'),
		 url('fonts/SpartanExtraLight.ttf') format('truetype'),
		 url('fonts/SpartanExtraLight.svg#SpartanExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Spartan';
	src: url('fonts/SpartanLight.eot');
	src: url('fonts/SpartanLight.eot') format('embedded-opentype'),
		 url('fonts/SpartanLight.woff2') format('woff2'),
		 url('fonts/SpartanLight.woff') format('woff'),
		 url('fonts/SpartanLight.ttf') format('truetype'),
		 url('fonts/SpartanLight.svg#SpartanLight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Spartan';
	src: url('fonts/SpartanRegular.eot');
	src: url('fonts/SpartanRegular.eot') format('embedded-opentype'),
		 url('fonts/SpartanRegular.woff2') format('woff2'),
		 url('fonts/SpartanRegular.woff') format('woff'),
		 url('fonts/SpartanRegular.ttf') format('truetype'),
		 url('fonts/SpartanRegular.svg#SpartanRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Spartan';
	src: url('fonts/SpartanMedium.eot');
	src: url('fonts/SpartanMedium.eot') format('embedded-opentype'),
		 url('fonts/SpartanMedium.woff2') format('woff2'),
		 url('fonts/SpartanMedium.woff') format('woff'),
		 url('fonts/SpartanMedium.ttf') format('truetype'),
		 url('fonts/SpartanMedium.svg#SpartanMedium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Spartan';
	src: url('fonts/SpartanSemiBold.eot');
	src: url('fonts/SpartanSemiBold.eot') format('embedded-opentype'),
		 url('fonts/SpartanSemiBold.woff2') format('woff2'),
		 url('fonts/SpartanSemiBold.woff') format('woff'),
		 url('fonts/SpartanSemiBold.ttf') format('truetype'),
		 url('fonts/SpartanSemiBold.svg#SpartanSemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Spartan';
	src: url('fonts/SpartanBold.eot');
	src: url('fonts/SpartanBold.eot') format('embedded-opentype'),
		 url('fonts/SpartanBold.woff2') format('woff2'),
		 url('fonts/SpartanBold.woff') format('woff'),
		 url('fonts/SpartanBold.ttf') format('truetype'),
		 url('fonts/SpartanBold.svg#SpartanBold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Spartan';
	src: url('fonts/SpartanExtraBold.eot');
	src: url('fonts/SpartanExtraBold.eot') format('embedded-opentype'),
		 url('fonts/SpartanExtraBold.woff2') format('woff2'),
		 url('fonts/SpartanExtraBold.woff') format('woff'),
		 url('fonts/SpartanExtraBold.ttf') format('truetype'),
		 url('fonts/SpartanExtraBold.svg#SpartanExtraBold') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Spartan';
	src: url('fonts/SpartanBlack.eot');
	src: url('fonts/SpartanBlack.eot') format('embedded-opentype'),
		 url('fonts/SpartanBlack.woff2') format('woff2'),
		 url('fonts/SpartanBlack.woff') format('woff'),
		 url('fonts/SpartanBlack.ttf') format('truetype'),
		 url('fonts/SpartanBlack.svg#SpartanBlack') format('svg');
	font-weight: 900;
	font-style: normal;
}
